<h1>Chapter 4: Indexing and Selecting</h1>

First we import the standard <em>numpy</em> and <em>pandas</em> modules.

In [1]:
import numpy as np
import pandas as pd

Create a time series of crude oil spot prices for the 4 quarters of 2013, taken from IMF data:

In [2]:
SpotCrudePrices_2013_Data={
                'U.K. Brent' : {'2013-Q1':112.9, '2013-Q2':103.0, '2013-Q3':110.1, '2013-Q4':109.4},
                'Dubai':{'2013-Q1':108.1, '2013-Q2':100.8, '2013-Q3':106.1,'2013-Q4':106.7},
                'West Texas Intermediate':{'2013-Q1':94.4, '2013-Q2':94.2, '2013-Q3':105.8,'2013-Q4':97.4}}
                
SpotCrudePrices_2013=pd.DataFrame.from_dict(SpotCrudePrices_2013_Data)
SpotCrudePrices_2013

         U.K. Brent  Dubai  West Texas Intermediate
2013-Q1       112.9  108.1                     94.4
2013-Q2       103.0  100.8                     94.2
2013-Q3       110.1  106.1                    105.8
2013-Q4       109.4  106.7                     97.4

In [3]:
pd.DataFrame(SpotCrudePrices_2013_Data)

         U.K. Brent  Dubai  West Texas Intermediate
2013-Q1       112.9  108.1                     94.4
2013-Q2       103.0  100.8                     94.2
2013-Q3       110.1  106.1                    105.8
2013-Q4       109.4  106.7                     97.4

or simpler

In [4]:
data = {'U.K. Brent' : [112.9, 103.0, 110.1, 109.4],
        'Dubai': [108.1, 100.8, 106.1, 106.7],
        'West Texas Intermediate': [94.4, 94.2, 105.8, 97.4]}
index = ['2013-Q1', '2013-Q2', '2013-Q3','2013-Q4']
SpotCrudePrices_2013 = pd.DataFrame(data, index=index)
SpotCrudePrices_2013

         U.K. Brent  Dubai  West Texas Intermediate
2013-Q1       112.9  108.1                     94.4
2013-Q2       103.0  100.8                     94.2
2013-Q3       110.1  106.1                    105.8
2013-Q4       109.4  106.7                     97.4

Select the prices for the available time periods of Dubai crude using the [] operator:

In [5]:
dubaiPrices = SpotCrudePrices_2013['Dubai']; dubaiPrices  # Series

2013-Q1    108.1
2013-Q2    100.8
2013-Q3    106.1
2013-Q4    106.7
Name: Dubai, dtype: float64

In [6]:
type(dubaiPrices)

pandas.core.series.Series

In [7]:
SpotCrudePrices_2013[['Dubai']]  # DataFrame

         Dubai
2013-Q1  108.1
2013-Q2  100.8
2013-Q3  106.1
2013-Q4  106.7

Select the columns in a particular order:

In [8]:
sub_df = SpotCrudePrices_2013[['West Texas Intermediate','U.K. Brent']]
sub_df

         West Texas Intermediate  U.K. Brent
2013-Q1                     94.4       112.9
2013-Q2                     94.2       103.0
2013-Q3                    105.8       110.1
2013-Q4                     97.4       109.4

In [9]:
type(sub_df)

pandas.core.frame.DataFrame

In [10]:
SpotCrudePrices_2013['Brent Blend']

KeyError: 'Brent Blend'

In [11]:
SpotCrudePrices_2013.get('Brent Blend')

In [12]:
SpotCrudePrices_2013.get('U.K. Brent')

2013-Q1    112.9
2013-Q2    103.0
2013-Q3    110.1
2013-Q4    109.4
Name: U.K. Brent, dtype: float64

In [13]:
SpotCrudePrices_2013.get('Brent Blend','N/A')

'N/A'

You _cannot_ reference to columns via it's number

In [14]:
SpotCrudePrices_2013[0]

KeyError: 0

Numbers are used for rows.
For referencig to rows we use numbers and only with `:`

In [15]:
SpotCrudePrices_2013[:1]

         U.K. Brent  Dubai  West Texas Intermediate
2013-Q1       112.9  108.1                     94.4

On the other hand you _cannot_ reference to rows via _names_:

In [16]:
SpotCrudePrices_2013['2013-Q1']   # KeyError -- searches for column with name '2013-Q1'

KeyError: '2013-Q1'

You may reference to "rows" via names only within `Series`:

In [17]:
dubaiPrices['2013-Q1']  # dubaiPrices is pd.Series not pd.DataFrame

108.1

Retrieve values directly as an attribute

In [18]:
SpotCrudePrices_2013.Dubai

2013-Q1    108.1
2013-Q2    100.8
2013-Q3    106.1
2013-Q4    106.7
Name: Dubai, dtype: float64

In [19]:
SpotCrudePrices_2013

         U.K. Brent  Dubai  West Texas Intermediate
2013-Q1       112.9  108.1                     94.4
2013-Q2       103.0  100.8                     94.2
2013-Q3       110.1  106.1                    105.8
2013-Q4       109.4  106.7                     97.4

Rename the column index names so they are all valid identifiers:

In [20]:
SpotCrudePrices_2013.columns=['UK_Brent', 'Dubai', 'West_Texas_Intermediate']
SpotCrudePrices_2013

         UK_Brent  Dubai  West_Texas_Intermediate
2013-Q1     112.9  108.1                     94.4
2013-Q2     103.0  100.8                     94.2
2013-Q3     110.1  106.1                    105.8
2013-Q4     109.4  106.7                     97.4

In [21]:
SpotCrudePrices_2013.West_Texas_Intermediate

2013-Q1     94.4
2013-Q2     94.2
2013-Q3    105.8
2013-Q4     97.4
Name: West_Texas_Intermediate, dtype: float64

Select by specifying column index number is not possible:

In [22]:
SpotCrudePrices_2013[[1,2]]

KeyError: "None of [Int64Index([1, 2], dtype='int64')] are in the [columns]"

In [23]:
SpotCrudePrices_2013['Dubai']

2013-Q1    108.1
2013-Q2    100.8
2013-Q3    106.1
2013-Q4    106.7
Name: Dubai, dtype: float64

In [24]:
SpotCrudePrices_2013[['Dubai','UK_Brent']]

         Dubai  UK_Brent
2013-Q1  108.1     112.9
2013-Q2  100.8     103.0
2013-Q3  106.1     110.1
2013-Q4  106.7     109.4

In [25]:
type(SpotCrudePrices_2013['Dubai'])

pandas.core.series.Series

In [26]:
type(SpotCrudePrices_2013[['Dubai']])

pandas.core.frame.DataFrame

In [27]:
type(SpotCrudePrices_2013[['Dubai','UK_Brent']])

pandas.core.frame.DataFrame

<h2>Range Slicing </h2>

Obtain the 1st 2 rows:

In [28]:
SpotCrudePrices_2013[:2]

         UK_Brent  Dubai  West_Texas_Intermediate
2013-Q1     112.9  108.1                     94.4
2013-Q2     103.0  100.8                     94.2

Obtain all rows starting from index 2:

In [29]:
SpotCrudePrices_2013[2:]

         UK_Brent  Dubai  West_Texas_Intermediate
2013-Q3     110.1  106.1                    105.8
2013-Q4     109.4  106.7                     97.4

Obtain rows at interval of 2, starting from row 0:

In [30]:
SpotCrudePrices_2013[::2]

         UK_Brent  Dubai  West_Texas_Intermediate
2013-Q1     112.9  108.1                     94.4
2013-Q3     110.1  106.1                    105.8

Reverse the order of rows in DataFrame:

In [31]:
SpotCrudePrices_2013[::-1]

         UK_Brent  Dubai  West_Texas_Intermediate
2013-Q4     109.4  106.7                     97.4
2013-Q3     110.1  106.1                    105.8
2013-Q2     103.0  100.8                     94.2
2013-Q1     112.9  108.1                     94.4

<h4>Series behavior </h4>

In [32]:
dubaiPrices=SpotCrudePrices_2013['Dubai']
dubaiPrices

2013-Q1    108.1
2013-Q2    100.8
2013-Q3    106.1
2013-Q4    106.7
Name: Dubai, dtype: float64

Obtain last 3 rows or all rows higher than the first.

In [33]:
dubaiPrices[1:]

2013-Q2    100.8
2013-Q3    106.1
2013-Q4    106.7
Name: Dubai, dtype: float64

Obtain all rows but the last:

In [34]:
dubaiPrices[:-1]

2013-Q1    108.1
2013-Q2    100.8
2013-Q3    106.1
Name: Dubai, dtype: float64

Reverse the rows:

In [35]:
dubaiPrices[::-1]

2013-Q4    106.7
2013-Q3    106.1
2013-Q2    100.8
2013-Q1    108.1
Name: Dubai, dtype: float64

## Label-oriented Indexing

Create a DataFrame:

In [36]:
NYC_SnowAvgsData={'Months' : ['January','February','March', 'April', 'November', 'December'],
                  'Avg SnowDays' : [4.0,2.7,1.7,0.2,0.2,2.3],
                  'Avg Precip. (cm)' : [17.8,22.4,9.1,1.5,0.8,12.2],
                  'Avg Low Temp. (F)' : [27,29,35,45,42,32] }
NYC_SnowAvgsData

{'Months': ['January', 'February', 'March', 'April', 'November', 'December'],
 'Avg SnowDays': [4.0, 2.7, 1.7, 0.2, 0.2, 2.3],
 'Avg Precip. (cm)': [17.8, 22.4, 9.1, 1.5, 0.8, 12.2],
 'Avg Low Temp. (F)': [27, 29, 35, 45, 42, 32]}

In [37]:
pd.DataFrame(NYC_SnowAvgsData, index=NYC_SnowAvgsData['Months'])

            Months  Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
January    January           4.0              17.8                 27
February  February           2.7              22.4                 29
March        March           1.7               9.1                 35
April        April           0.2               1.5                 45
November  November           0.2               0.8                 42
December  December           2.3              12.2                 32

In [38]:
NYC_SnowAvgs=pd.DataFrame(NYC_SnowAvgsData,      
                      index=NYC_SnowAvgsData['Months'], 
                      columns=['Avg SnowDays','Avg Precip. (cm)','Avg Low Temp. (F)'])
NYC_SnowAvgs

          Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
January            4.0              17.8                 27
February           2.7              22.4                 29
March              1.7               9.1                 35
April              0.2               1.5                 45
November           0.2               0.8                 42
December           2.3              12.2                 32

In [39]:
pd.DataFrame(NYC_SnowAvgsData,      
             index=NYC_SnowAvgsData['Months'], 
             columns=list(NYC_SnowAvgsData.keys())[1:])  ## list(dict.keys())[...]

          Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
January            4.0              17.8                 27
February           2.7              22.4                 29
March              1.7               9.1                 35
April              0.2               1.5                 45
November           0.2               0.8                 42
December           2.3              12.2                 32

## `.loc[]` and `.iloc[]`

Using single label of a __row__ with <em>.loc</em> operator:

In [40]:
NYC_SnowAvgs.loc['January']

Avg SnowDays          4.0
Avg Precip. (cm)     17.8
Avg Low Temp. (F)    27.0
Name: January, dtype: float64

In [41]:
NYC_SnowAvgs.loc[['January']]

         Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
January           4.0              17.8                 27

Using list or labels:

In [42]:
NYC_SnowAvgs.loc[['January','April']]

         Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
January           4.0              17.8                 27
April             0.2               1.5                 45

Using label range:

In [43]:
NYC_SnowAvgs.loc['January':'March']

          Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
January            4.0              17.8                 27
February           2.7              22.4                 29
March              1.7               9.1                 35

You may also reference columns names but __row__ index must be specified __first__:

In [44]:
NYC_SnowAvgs.loc['Avg SnowDays']

KeyError: 'Avg SnowDays'

In [45]:
NYC_SnowAvgs.loc[:,'Avg SnowDays']

January     4.0
February    2.7
March       1.7
April       0.2
November    0.2
December    2.3
Name: Avg SnowDays, dtype: float64

Specific 'coordinate' selection

In [46]:
NYC_SnowAvgs.loc['March','Avg SnowDays']

1.7

Alternative style:

In [47]:
NYC_SnowAvgs.loc['March']['Avg SnowDays']

1.7

Using square brackets ( [ ] ):

In [48]:
NYC_SnowAvgs['Avg SnowDays']['March']

1.7

In [49]:
type(NYC_SnowAvgs['Avg SnowDays'])

pandas.core.series.Series

[ ] operator cannot be used to select rows __directly__ (without `.loc[]`).

In [50]:
NYC_SnowAvgs['March']['Avg SnowDays']

KeyError: 'March'

Use `.loc[]` operator instead

In [51]:
NYC_SnowAvgs.loc['March']

Avg SnowDays          1.7
Avg Precip. (cm)      9.1
Avg Low Temp. (F)    35.0
Name: March, dtype: float64

In [52]:
type(NYC_SnowAvgs.loc['March'])

pandas.core.series.Series

<h3>Selection using a Boolean array</h3>

In [53]:
NYC_SnowAvgs.loc[[True,False,False,True,False,True],[True,False,True]]

          Avg SnowDays  Avg Low Temp. (F)
January            4.0                 27
April              0.2                 45
December           2.3                 32

What about numeric values?
`.loc` will return error. Use `.iloc` (described below in detail).

In [56]:
NYC_SnowAvgs.iloc[[1,0,0,1,0,1],[1,0,1]]

          Avg Precip. (cm)  Avg SnowDays  Avg Precip. (cm)
February              22.4           2.7              22.4
January               17.8           4.0              17.8
January               17.8           4.0              17.8
February              22.4           2.7              22.4
January               17.8           4.0              17.8
February              22.4           2.7              22.4

`.iloc` works also on logical values:

In [55]:
NYC_SnowAvgs.iloc[[True,False,False,True,False,True],[True,False,True]]

          Avg SnowDays  Avg Low Temp. (F)
January            4.0                 27
April              0.2                 45
December           2.3                 32

In [57]:
NYC_SnowAvgs['Avg SnowDays']<1

January     False
February    False
March       False
April        True
November     True
December    False
Name: Avg SnowDays, dtype: bool

In [58]:
NYC_SnowAvgs.loc[NYC_SnowAvgs['Avg SnowDays']<1,:]

          Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
April              0.2               1.5                 45
November           0.2               0.8                 42

It doesn't work with `.iloc` (strange!)

In [59]:
NYC_SnowAvgs.iloc[NYC_SnowAvgs['Avg SnowDays']<1,:]

ValueError: Location based indexing can only have [integer, integer slice (START point is INCLUDED, END point is EXCLUDED), listlike of integers, boolean array] types

It is because for using logicals with `.iloc[]` they must be within ordinary `list`:

In [60]:
list(NYC_SnowAvgs['Avg SnowDays']<1)

[False, False, False, True, True, False]

In [61]:
NYC_SnowAvgs.iloc[list(NYC_SnowAvgs['Avg SnowDays']<1),:]

          Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
April              0.2               1.5                 45
November           0.2               0.8                 42

In [62]:
SpotCrudePrices_2013.loc['2013-Q1']>110

UK_Brent                    True
Dubai                      False
West_Texas_Intermediate    False
Name: 2013-Q1, dtype: bool

In [63]:
SpotCrudePrices_2013.loc[:,SpotCrudePrices_2013.loc['2013-Q1']>110]

         UK_Brent
2013-Q1     112.9
2013-Q2     103.0
2013-Q3     110.1
2013-Q4     109.4

## Integer-oriented Indexing `.iloc[]`

Create DataFrame

In [64]:
import scipy.constants as phys
import math

In [65]:
sci_values=pd.DataFrame([[math.pi, math.sin(math.pi), math.cos(math.pi)],
                         [math.e, math.log(math.e), phys.golden],
                         [phys.c, phys.g, phys.e],
                         [phys.m_e, phys.m_p, phys.m_n]],
                        index=list(range(0,20,5)))
sci_values

               0             1             2
0   3.141593e+00  1.224647e-16 -1.000000e+00
5   2.718282e+00  1.000000e+00  1.618034e+00
10  2.997925e+08  9.806650e+00  1.602177e-19
15  9.109384e-31  1.672622e-27  1.674927e-27

Select first two rows using integer slicing:

In [66]:
sci_values.iloc[:2]

          0             1         2
0  3.141593  1.224647e-16 -1.000000
5  2.718282  1.000000e+00  1.618034

In [67]:
sci_values.loc[:2]  #!!! .loc treats numbers as names

          0             1    2
0  3.141593  1.224647e-16 -1.0

In [68]:
sci_values[:2]

          0             1         2
0  3.141593  1.224647e-16 -1.000000
5  2.718282  1.000000e+00  1.618034

In [69]:
sci_values.loc[:5]  #!!! numbers as names !!!

          0             1         2
0  3.141593  1.224647e-16 -1.000000
5  2.718282  1.000000e+00  1.618034

Select speed of light and acceleration of gravity in the 3rd row:

In [70]:
sci_values.iloc[2,0:2]

0    2.997925e+08
1    9.806650e+00
Name: 10, dtype: float64

Arguments to <em>.iloc</em> are strictly positional:

In [71]:
sci_values.iloc[10]

IndexError: single positional indexer is out-of-bounds

Use `.loc` instead:

In [72]:
sci_values.loc[10]

0    2.997925e+08
1    9.806650e+00
2    1.602177e-19
Name: 10, dtype: float64

Slice out specific row:

In [73]:
sci_values.iloc[2:3,:]

              0        1             2
10  299792458.0  9.80665  1.602177e-19

In [74]:
sci_values.iloc[2,:]

0    2.997925e+08
1    9.806650e+00
2    1.602177e-19
Name: 10, dtype: float64

In [75]:
sci_values.iloc[[2]]

              0        1             2
10  299792458.0  9.80665  1.602177e-19

Obtain cross-section using integer position:

In [76]:
sci_values.iloc[2]

0    2.997925e+08
1    9.806650e+00
2    1.602177e-19
Name: 10, dtype: float64

Attempt to slice past the end of the array :

In [77]:
sci_values.iloc[6,:]

IndexError: single positional indexer is out-of-bounds

Selection of scalar values and timings.

In [78]:
sci_values.iloc[3,0]

9.10938356e-31

In [79]:
sci_values.iat[3,0]

9.10938356e-31

In [80]:
%timeit sci_values.iloc[3,0]

5.79 s  65.5 ns per loop (mean  std. dev. of 7 runs, 100000 loops each)

In [81]:
%timeit sci_values.iat[3,0]

3.6 s  21.2 ns per loop (mean  std. dev. of 7 runs, 100000 loops each)

<h2>Mixed Indexing with the .ix operator</h2>

In [82]:
stockIndexDataDF=pd.read_csv('stock_index_closing.csv', sep=";")

In [83]:
stockIndexDataDF

  TradingDate   Nasdaq  S&P 500  Russell 2000
0  2014/01/30  4123.13  1794.19       1139.36
1  2014/01/31  4103.88  1782.59       1130.88
2  2014/02/03  3996.96  1741.89       1094.58
3  2014/02/04  4031.52  1755.20       1102.84
4  2014/02/05  4011.55  1751.64       1093.59
5  2014/02/06  4057.12  1773.43       1103.93

In [84]:
stockIndexDF=stockIndexDataDF.set_index('TradingDate')
stockIndexDF

              Nasdaq  S&P 500  Russell 2000
TradingDate
2014/01/30   4123.13  1794.19       1139.36
2014/01/31   4103.88  1782.59       1130.88
2014/02/03   3996.96  1741.89       1094.58
2014/02/04   4031.52  1755.20       1102.84
2014/02/05   4011.55  1751.64       1093.59
2014/02/06   4057.12  1773.43       1103.93

<b>Using a single label:</b>

In [85]:
stockIndexDF.ix['2014/01/30']

C:\Programming\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

Nasdaq          4123.13
S&P 500         1794.19
Russell 2000    1139.36
Name: 2014/01/30, dtype: float64

<b>Using list of labels</b>:

In [86]:
stockIndexDF.ix[['2014/01/30']]

C:\Programming\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

              Nasdaq  S&P 500  Russell 2000
TradingDate
2014/01/30   4123.13  1794.19       1139.36

<b>Difference between using scalar indexer and list indexer:</b>

In [87]:
type(stockIndexDF.ix['2014/01/30'])

C:\Programming\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

pandas.core.series.Series

In [88]:
type(stockIndexDF.ix[['2014/01/30']])

C:\Programming\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

pandas.core.frame.DataFrame

<b>Using a label-based slice:</b>

In [89]:
tradingDates=stockIndexDataDF.TradingDate; tradingDates

0    2014/01/30
1    2014/01/31
2    2014/02/03
3    2014/02/04
4    2014/02/05
5    2014/02/06
Name: TradingDate, dtype: object

In [90]:
stockIndexDF.ix[tradingDates[:3]]

C:\Programming\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

              Nasdaq  S&P 500  Russell 2000
TradingDate
2014/01/30   4123.13  1794.19       1139.36
2014/01/31   4103.88  1782.59       1130.88
2014/02/03   3996.96  1741.89       1094.58

<b>Using a single integer:</b>

In [91]:
stockIndexDF.iloc[0]

Nasdaq          4123.13
S&P 500         1794.19
Russell 2000    1139.36
Name: 2014/01/30, dtype: float64

<b>Using a list of integers:</b>

In [92]:
stockIndexDF.iloc[[0,2]]

              Nasdaq  S&P 500  Russell 2000
TradingDate
2014/01/30   4123.13  1794.19       1139.36
2014/02/03   3996.96  1741.89       1094.58

<b>Using an integer slice:</b>

In [93]:
stockIndexDF.iloc[1:3]

              Nasdaq  S&P 500  Russell 2000
TradingDate
2014/01/31   4103.88  1782.59       1130.88
2014/02/03   3996.96  1741.89       1094.58

<b>Using a boolean array:</b>

In [94]:
stockIndexDF.loc[stockIndexDF['Russell 2000']>1100]

              Nasdaq  S&P 500  Russell 2000
TradingDate
2014/01/30   4123.13  1794.19       1139.36
2014/01/31   4103.88  1782.59       1130.88
2014/02/04   4031.52  1755.20       1102.84
2014/02/06   4057.12  1773.43       1103.93

<h2>Multi-Indexing</h2>

<b>Read stock index data:</b>

In [95]:
sharesIndexDataDF=pd.read_csv('stock_index_prices.csv',sep=";")

In [96]:
sharesIndexDataDF

   TradingDate PriceType   Nasdaq  S&P 500  Russell 2000
0   2014/02/21      open  4282.17  1841.07       1166.25
1   2014/02/21     close  4263.41  1836.25       1164.63
2   2014/02/21      high  4284.85  1846.13       1168.43
3   2014/02/24      open  4273.32  1836.78       1166.74
4   2014/02/24     close  4292.97  1847.61       1174.55
5   2014/02/24      high  4311.13  1858.71       1180.29
6   2014/02/25      open  4298.48  1847.66       1176.00
7   2014/02/25     close  4287.59  1845.12       1173.95
8   2014/02/25      high  4307.51  1852.91       1179.43
9   2014/02/26      open  4300.45  1845.79       1176.11
10  2014/02/26     close  4292.06  1845.16       1181.72
11  2014/02/26      high  4316.82  1852.65       1188.06
12  2014/02/27      open  4291.47  1844.90       1179.28
13  2014/02/27     close  4318.93  1854.29       1187.94
14  2014/02/27      high  4322.46  1854.53       1187.94
15  2014/02/28      open  4323.52  1855.12       1189.19
16  2014/02/28     close  4308.12  1859.45       1183.03
17  2014/02/28      high  4342.59  1867.92       1193.50

<b>Create a MultiIndex :</b>

In [97]:
sharesIndexDF=sharesIndexDataDF.set_index(['TradingDate','PriceType']); sharesIndexDF

                        Nasdaq  S&P 500  Russell 2000
TradingDate PriceType
2014/02/21  open       4282.17  1841.07       1166.25
            close      4263.41  1836.25       1164.63
            high       4284.85  1846.13       1168.43
2014/02/24  open       4273.32  1836.78       1166.74
            close      4292.97  1847.61       1174.55
            high       4311.13  1858.71       1180.29
2014/02/25  open       4298.48  1847.66       1176.00
            close      4287.59  1845.12       1173.95
            high       4307.51  1852.91       1179.43
2014/02/26  open       4300.45  1845.79       1176.11
            close      4292.06  1845.16       1181.72
            high       4316.82  1852.65       1188.06
2014/02/27  open       4291.47  1844.90       1179.28
            close      4318.93  1854.29       1187.94
            high       4322.46  1854.53       1187.94
2014/02/28  open       4323.52  1855.12       1189.19
            close      4308.12  1859.45       1183.03
            high       4342.59  1867.92       1193.50

In [98]:
mIndex=sharesIndexDF.index; mIndex

MultiIndex([('2014/02/21',  'open'),
            ('2014/02/21', 'close'),
            ('2014/02/21',  'high'),
            ('2014/02/24',  'open'),
            ('2014/02/24', 'close'),
            ('2014/02/24',  'high'),
            ('2014/02/25',  'open'),
            ('2014/02/25', 'close'),
            ('2014/02/25',  'high'),
            ('2014/02/26',  'open'),
            ('2014/02/26', 'close'),
            ('2014/02/26',  'high'),
            ('2014/02/27',  'open'),
            ('2014/02/27', 'close'),
            ('2014/02/27',  'high'),
            ('2014/02/28',  'open'),
            ('2014/02/28', 'close'),
            ('2014/02/28',  'high')],
           names=['TradingDate', 'PriceType'])

<b>Apply get_level_values function:</b>

In [99]:
mIndex.get_level_values(0)

Index(['2014/02/21', '2014/02/21', '2014/02/21', '2014/02/24', '2014/02/24',
       '2014/02/24', '2014/02/25', '2014/02/25', '2014/02/25', '2014/02/26',
       '2014/02/26', '2014/02/26', '2014/02/27', '2014/02/27', '2014/02/27',
       '2014/02/28', '2014/02/28', '2014/02/28'],
      dtype='object', name='TradingDate')

In [100]:
mIndex.get_level_values(1)

Index(['open', 'close', 'high', 'open', 'close', 'high', 'open', 'close',
       'high', 'open', 'close', 'high', 'open', 'close', 'high', 'open',
       'close', 'high'],
      dtype='object', name='PriceType')

In [101]:
mIndex.get_level_values(2)

IndexError: Too many levels: Index has only 2 levels, not 3

<b>Hierarchical indexing with a multi-indexed DataFrame:</b>

In [102]:
sharesIndexDF.loc['2014/02/21']

            Nasdaq  S&P 500  Russell 2000
PriceType
open       4282.17  1841.07       1166.25
close      4263.41  1836.25       1164.63
high       4284.85  1846.13       1168.43

In [103]:
sharesIndexDF.iat['2014/02/21']

ValueError: iAt based indexing can only have integer indexers

In [104]:
sharesIndexDF.loc['2014/02/21','open']

Nasdaq          4282.17
S&P 500         1841.07
Russell 2000    1166.25
Name: (2014/02/21, open), dtype: float64

<b>Slice using a multi-index:</b>

In [105]:
sharesIndexDF.loc['2014/02/21':'2014/02/24']

                        Nasdaq  S&P 500  Russell 2000
TradingDate PriceType
2014/02/21  open       4282.17  1841.07       1166.25
            close      4263.41  1836.25       1164.63
            high       4284.85  1846.13       1168.43
2014/02/24  open       4273.32  1836.78       1166.74
            close      4292.97  1847.61       1174.55
            high       4311.13  1858.71       1180.29

<b>Try slicing at a lower level:</b>

In [106]:
sharesIndexDF.loc[('2014/02/21','open'):('2014/02/24','open')]

UnsortedIndexError: 'Key length (2) was greater than MultiIndex lexsort depth (1)'

Sort first before slicing with a MultiIndex:

In [107]:
sharesIndexDF.sort_index(0).loc[('2014/02/21','open'):('2014/02/24','open')]

                        Nasdaq  S&P 500  Russell 2000
TradingDate PriceType
2014/02/21  open       4282.17  1841.07       1166.25
2014/02/24  close      4292.97  1847.61       1174.55
            high       4311.13  1858.71       1180.29
            open       4273.32  1836.78       1166.74

In [108]:
sharesIndexDF.sort_index(0).loc[('2014/02/21','close'):('2014/02/24','close')]

                        Nasdaq  S&P 500  Russell 2000
TradingDate PriceType
2014/02/21  close      4263.41  1836.25       1164.63
            high       4284.85  1846.13       1168.43
            open       4282.17  1841.07       1166.25
2014/02/24  close      4292.97  1847.61       1174.55

<b>Pass list of tuples:</b>

In [109]:
sharesIndexDF.sort_index(0).loc[[('2014/02/21','open'),('2014/02/24','open')]]

                        Nasdaq  S&P 500  Russell 2000
TradingDate PriceType
2014/02/21  open       4282.17  1841.07       1166.25
2014/02/24  open       4273.32  1836.78       1166.74

<b>Use of the swaplevel function:</b>

In [110]:
swappedDF=sharesIndexDF[:7].swaplevel(0, 1, axis=0)
swappedDF

                        Nasdaq  S&P 500  Russell 2000
PriceType TradingDate
open      2014/02/21   4282.17  1841.07       1166.25
close     2014/02/21   4263.41  1836.25       1164.63
high      2014/02/21   4284.85  1846.13       1168.43
open      2014/02/24   4273.32  1836.78       1166.74
close     2014/02/24   4292.97  1847.61       1174.55
high      2014/02/24   4311.13  1858.71       1180.29
open      2014/02/25   4298.48  1847.66       1176.00

In [111]:
reorderedDF=sharesIndexDF[:7].reorder_levels(['PriceType', 
                                                      'TradingDate'], 
                                                       axis=0)
reorderedDF

                        Nasdaq  S&P 500  Russell 2000
PriceType TradingDate
open      2014/02/21   4282.17  1841.07       1166.25
close     2014/02/21   4263.41  1836.25       1164.63
high      2014/02/21   4284.85  1846.13       1168.43
open      2014/02/24   4273.32  1836.78       1166.74
close     2014/02/24   4292.97  1847.61       1174.55
high      2014/02/24   4311.13  1858.71       1180.29
open      2014/02/25   4298.48  1847.66       1176.00

<h2>Cross-sections</h2>

<b>xs( ) method</b>

In [112]:
sharesIndexDF.xs('open',level='PriceType')

              Nasdaq  S&P 500  Russell 2000
TradingDate
2014/02/21   4282.17  1841.07       1166.25
2014/02/24   4273.32  1836.78       1166.74
2014/02/25   4298.48  1847.66       1176.00
2014/02/26   4300.45  1845.79       1176.11
2014/02/27   4291.47  1844.90       1179.28
2014/02/28   4323.52  1855.12       1189.19

<b>swaplevel( ) alternative:</b>

In [113]:
sharesIndexDF.swaplevel(0, 1, axis=0).ix['open']

C:\Programming\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

              Nasdaq  S&P 500  Russell 2000
TradingDate
2014/02/21   4282.17  1841.07       1166.25
2014/02/24   4273.32  1836.78       1166.74
2014/02/25   4298.48  1847.66       1176.00
2014/02/26   4300.45  1845.79       1176.11
2014/02/27   4291.47  1844.90       1179.28
2014/02/28   4323.52  1855.12       1189.19

<h1>Boolean Indexing</h2>

<B>Trading dates for which NASD closed above 4300:</b>

In [114]:
sharesIndexDataDF

   TradingDate PriceType   Nasdaq  S&P 500  Russell 2000
0   2014/02/21      open  4282.17  1841.07       1166.25
1   2014/02/21     close  4263.41  1836.25       1164.63
2   2014/02/21      high  4284.85  1846.13       1168.43
3   2014/02/24      open  4273.32  1836.78       1166.74
4   2014/02/24     close  4292.97  1847.61       1174.55
5   2014/02/24      high  4311.13  1858.71       1180.29
6   2014/02/25      open  4298.48  1847.66       1176.00
7   2014/02/25     close  4287.59  1845.12       1173.95
8   2014/02/25      high  4307.51  1852.91       1179.43
9   2014/02/26      open  4300.45  1845.79       1176.11
10  2014/02/26     close  4292.06  1845.16       1181.72
11  2014/02/26      high  4316.82  1852.65       1188.06
12  2014/02/27      open  4291.47  1844.90       1179.28
13  2014/02/27     close  4318.93  1854.29       1187.94
14  2014/02/27      high  4322.46  1854.53       1187.94
15  2014/02/28      open  4323.52  1855.12       1189.19
16  2014/02/28     close  4308.12  1859.45       1183.03
17  2014/02/28      high  4342.59  1867.92       1193.50

In [115]:
sharesIndexDataDF.loc[(sharesIndexDataDF['PriceType']=='close') & \
                      (sharesIndexDataDF['Nasdaq']>4300) ]

   TradingDate PriceType   Nasdaq  S&P 500  Russell 2000
13  2014/02/27     close  4318.93  1854.29       1187.94
16  2014/02/28     close  4308.12  1859.45       1183.03

In [116]:
highSelection=sharesIndexDataDF['PriceType']=='high'
NasdaqHigh=sharesIndexDataDF['Nasdaq']<4300
sharesIndexDataDF.loc[highSelection & NasdaqHigh]

  TradingDate PriceType   Nasdaq  S&P 500  Russell 2000
2  2014/02/21      high  4284.85  1846.13       1168.43

<h2>isin, any, all methods</h2>

In [117]:
stockSeries=pd.Series(['NFLX','AMZN','GOOG','FB','TWTR'])
stockSeries.isin(['AMZN','FB'])

0    False
1     True
2    False
3     True
4    False
dtype: bool

In [118]:
stockSeries[stockSeries.isin(['AMZN','FB'])]

1    AMZN
3      FB
dtype: object

In [119]:
australianMammals = {'kangaroo': {'Subclass':'marsupial', 
                              'Origin':'native'},
               'flying fox' : {'Subclass':'placental', 
                               'Origin':'native'},              
               'black rat': {'Subclass':'placental', 
                             'Origin':'invasive'},
               'platypus' : {'Subclass':'monotreme', 
                             'Origin':'native'},
               'wallaby' :  {'Subclass':'marsupial', 
                             'Origin':'native'},
        'palm squirrel' : {'Subclass':'placental', 
                           'Origin':'invasive'},
        'anteater':     {'Subclass':'monotreme', 
                         'Origin':'native'},
        'koala':        {'Subclass':'marsupial', 
                         'Origin':'native'}
}

In [120]:
ozzieMammalsDF=pd.DataFrame(australianMammals); ozzieMammalsDF

,kangaroo,flying fox,black rat,platypus,wallaby,palm squirrel,anteater,koala
Subclass,marsupial,placental,placental,monotreme,marsupial,placental,monotreme,marsupial
Origin,native,native,invasive,native,native,invasive,native,native

In [121]:
aussieMammalsDF=ozzieMammalsDF.T; aussieMammalsDF

                Subclass    Origin
kangaroo       marsupial    native
flying fox     placental    native
black rat      placental  invasive
platypus       monotreme    native
wallaby        marsupial    native
palm squirrel  placental  invasive
anteater       monotreme    native
koala          marsupial    native

In [122]:
aussieMammalsDF.isin({'Subclass':['marsupial'],'Origin':['native']})

               Subclass  Origin
kangaroo           True    True
flying fox        False    True
black rat         False   False
platypus          False    True
wallaby            True    True
palm squirrel     False   False
anteater          False    True
koala              True    True

In [123]:
nativeMarsupials={'Subclass':['marsupial'],
                            'Origin':['native']}

In [125]:
nativeMarsupialMask=aussieMammalsDF.isin(nativeMarsupials).all(1)
nativeMarsupialMask

kangaroo          True
flying fox       False
black rat        False
platypus         False
wallaby           True
palm squirrel    False
anteater         False
koala             True
dtype: bool

In [126]:
aussieMammalsDF[nativeMarsupialMask]

           Subclass  Origin
kangaroo  marsupial  native
wallaby   marsupial  native
koala     marsupial  native

<h2>where() method</h2>

In [127]:
np.random.seed(100)
normvals=pd.Series([np.random.normal() for i in np.arange(10)])
normvals

0   -1.749765
1    0.342680
2    1.153036
3   -0.252436
4    0.981321
5    0.514219
6    0.221180
7   -1.070043
8   -0.189496
9    0.255001
dtype: float64

<b>Difference between using where() and standard boolean as filter on Series object</b>

In [128]:
normvals[normvals>0]

1    0.342680
2    1.153036
4    0.981321
5    0.514219
6    0.221180
9    0.255001
dtype: float64

In [129]:
normvals.where(normvals>0)

0         NaN
1    0.342680
2    1.153036
3         NaN
4    0.981321
5    0.514219
6    0.221180
7         NaN
8         NaN
9    0.255001
dtype: float64

<b>No Difference between using where() and standard boolean as filter on Pandas object</b>

In [130]:
np.random.seed(100) 
normDF=pd.DataFrame([[round(np.random.normal(),3) for i in np.arange(5)] for j in range(3)], 
             columns=['0','30','60','90','120'])
normDF

       0     30     60     90    120
0 -1.750  0.343  1.153 -0.252  0.981
1  0.514  0.221 -1.070 -0.189  0.255
2 -0.458  0.435 -0.584  0.817  0.673

In [131]:
normDF[normDF>0]

       0     30     60     90    120
0    NaN  0.343  1.153    NaN  0.981
1  0.514  0.221    NaN    NaN  0.255
2    NaN  0.435    NaN  0.817  0.673

In [133]:
normDF.where(normDF>0)

       0     30     60     90    120
0    NaN  0.343  1.153    NaN  0.981
1  0.514  0.221    NaN    NaN  0.255
2    NaN  0.435    NaN  0.817  0.673

<b>mask() is inverse of where()</b>

In [134]:
normDF.mask(normDF>0)

       0  30     60     90  120
0 -1.750 NaN    NaN -0.252  NaN
1    NaN NaN -1.070 -0.189  NaN
2 -0.458 NaN -0.584    NaN  NaN

<h2>Operations on Indexes</h2>

<b>Read in stock index data</b>

In [140]:
stockIndexDataDF=pd.read_csv('stock_index_closing.csv', sep=";")

In [141]:
stockIndexDataDF

  TradingDate   Nasdaq  S&P 500  Russell 2000
0  2014/01/30  4123.13  1794.19       1139.36
1  2014/01/31  4103.88  1782.59       1130.88
2  2014/02/03  3996.96  1741.89       1094.58
3  2014/02/04  4031.52  1755.20       1102.84
4  2014/02/05  4011.55  1751.64       1093.59
5  2014/02/06  4057.12  1773.43       1103.93

<b>Set the index of DataFrame to the TradingDate using set_index(..)</b>

In [142]:
stockIndexDF=stockIndexDataDF.set_index('TradingDate')

In [143]:
stockIndexDF

              Nasdaq  S&P 500  Russell 2000
TradingDate
2014/01/30   4123.13  1794.19       1139.36
2014/01/31   4103.88  1782.59       1130.88
2014/02/03   3996.96  1741.89       1094.58
2014/02/04   4031.52  1755.20       1102.84
2014/02/05   4011.55  1751.64       1093.59
2014/02/06   4057.12  1773.43       1103.93

<b>reset_index reverses set_index:</b>

In [144]:
stockIndexDF.reset_index()

  TradingDate   Nasdaq  S&P 500  Russell 2000
0  2014/01/30  4123.13  1794.19       1139.36
1  2014/01/31  4103.88  1782.59       1130.88
2  2014/02/03  3996.96  1741.89       1094.58
3  2014/02/04  4031.52  1755.20       1102.84
4  2014/02/05  4011.55  1751.64       1093.59
5  2014/02/06  4057.12  1773.43       1103.93

This concludes the chapter.