## Task 1

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
RANDSTATE = 11
data = pd.read_csv("recruitment_task.csv")
data.head()

,group,f0,f1,f2,f3,f4,f5,f6,f7,f8,...,f37,f38,f39,f40,f41,f42,f43,f44,f45,f46
0,B,AA,R,1.344034,631.337666,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A,AA,R,2.397800,11846.932969,1716.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,B,AA,R,20.381491,3.817035,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0
3,B,AA,R,5.687507,9529.610739,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,B,AA,R,4.567899,6.488960,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.shape

(150000, 48)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 48 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   group   150000 non-null  object
 1   f0      150000 non-null  object
 2   f1      149904 non-null  object
 3   f2      150000 non-null  float64
 4   f3      150000 non-null  float64
 5   f4      14958 non-null   float64
 6   f5      4088 non-null    float64
 7   f6      73 non-null      float64
 8   f7      983 non-null     float64
 9   f8      391 non-null     float64
 10  f9      272 non-null     float64
 11  f10     1630 non-null    float64
 12  f11     3815 non-null    float64
 13  f12     2449 non-null    float64
 14  f13     946 non-null     float64
 15  f14     6145 non-null    float64
 16  f15     5564 non-null    float64
 17  f16     251 non-null     float64
 18  f17     5107 non-null    float64
 19  f18     1565 non-null    float64
 20  f19     1720 non-null    float64
 21  f20     115 non-null     float64
 22  f21     5942 non-null    float64
 23  f22     762 non-null     float64
 24  f23     1291 non-null    float64
 25  f24     1624 non-null    float64
 26  f25     2299 non-null    float64
 27  f26     6402 non-null    float64
 28  f27     12320 non-null   float64
 29  f28     81 non-null      float64
 30  f29     875 non-null     float64
 31  f30     54 non-null      float64
 32  f31     32 non-null      float64
 33  f32     763 non-null     float64
 34  f33     6372 non-null    float64
 35  f34     6217 non-null    float64
 36  f35     8404 non-null    float64
 37  f36     18148 non-null   float64
 38  f37     996 non-null     float64
 39  f38     8551 non-null    float64
 40  f39     4107 non-null    float64
 41  f40     2729 non-null    float64
 42  f41     809 non-null     float64
 43  f42     1003 non-null    float64
 44  f43     4196 non-null    float64
 45  f44     1138 non-null    float64
 46  f45     233 non-null     float64
 47  f46     5202 non-null    float64
dtypes: float64(45), object(3)
memory usage: 54.9+ MB

Only first five columns are not 'sparse' ('sparse' in the meaning of having majority of NULLs).

Let's divide variables into groups.

In [9]:
target_var = "group"

Now we need to distinct between "dense" and "sparse" variables. \
It's easy here to set the 'sparsity' threshold.

In [14]:
def variables_sparsity(df, threshold=.5):
    sparse_vars = df.apply(lambda col: col.isnull().sum() > df.shape[0] * threshold)
    sparse_vars = sparse_vars.index[sparse_vars].tolist()
    dense_vars = df.columns.difference(sparse_vars).tolist()
    return dense_vars, sparse_vars

dense_vars, sparse_vars = variables_sparsity(data.drop(target_var, axis=1))
print("dense variables:")
print(data.dtypes[dense_vars])
print()
print("sparse variables:")
print(data.dtypes[sparse_vars])

dense variables:
f0     object
f1     object
f2    float64
f3    float64
dtype: object

sparse variables:
f4     float64
f5     float64
f6     float64
f7     float64
f8     float64
f9     float64
f10    float64
f11    float64
f12    float64
f13    float64
f14    float64
f15    float64
f16    float64
f17    float64
f18    float64
f19    float64
f20    float64
f21    float64
f22    float64
f23    float64
f24    float64
f25    float64
f26    float64
f27    float64
f28    float64
f29    float64
f30    float64
f31    float64
f32    float64
f33    float64
f34    float64
f35    float64
f36    float64
f37    float64
f38    float64
f39    float64
f40    float64
f41    float64
f42    float64
f43    float64
f44    float64
f45    float64
f46    float64
dtype: object

### dense variables

In [15]:
data[dense_vars].count()

f0    150000
f1    149904
f2    150000
f3    150000
dtype: int64

In [18]:
data.f1.unique()

array(['R', 'S', 'T', 'V', 'W', 'X', 'Y', 'Z', 'NA'], dtype=object)

In [16]:
from sklearn.impute import SimpleImputer
data[dense_vars] = SimpleImputer(strategy="constant", fill_value="NA") \
    .fit_transform(data[dense_vars])

for n, c in data.iloc[:,0:3].iteritems():
    print(" {:s} :".format(n))
    print(c.value_counts())

 group :
B    125428
A     24572
Name: group, dtype: int64
 f0 :
AB    58130
AD    44018
AE    26105
AC    11617
AA    10130
Name: f0, dtype: int64
 f1 :
R     50183
S     33713
V     23177
T     19261
W     16428
X      5125
Y      1919
Z        98
NA       96
Name: f1, dtype: int64

### sparse variables

In [19]:
sdata = data[sparse_vars]

def no_nulls_in_row_distribution(df):
    df_rsum = df.notna().sum(axis=1)
    return pd.DataFrame(
                { "count": df_rsum.value_counts(),
                  "ratio": df_rsum.value_counts()/df.shape[0]
                }
            )

no_nulls_in_row_distribution(sdata)

    count     ratio
1  149398  0.995987
2     582  0.003880
3      20  0.000133

It shows that less then .5% of records has more then 1 non-empty field for "sparse variables".\
Thus ...

Let's summarise the distribution of (non-null) values for "sparse variables":

In [22]:
print("Nr of negative values: {:d}".format((sdata < 0).sum(axis=0).sum()))     # 0
print("Nr of zero values: {:d}".format((sdata == 0).sum(axis=0).sum()))    # 0
print("Nr of positive values: {:d}".format((sdata > 0).sum(axis=0).sum()))

Nr of negative values: 0
Nr of zero values: 0
Nr of positive values: 150622